<div>
    <h3>MileHi</h3>
    <p>

        Meeting people can be hard. That's why MileHi exists to create new friendships across the state of
        Colorado. Our vision is to be the front page of the outernet - the place that you log into in order to
        quickly log out of. You can begin by clicking on any of our recreation categories and browsing the
        various activities. Find one you like? Select it to see when and where people are playing, running,
        dancing, etc. Have a group you would like to invite people to? Create a posting of your own to let
        people know where they can find people like you with their same interests.

        <br>
        <br>

        Make sure to be friendly, take pictures, and tag us @milehi_denver on instagram with the 👋 emoji to be
        featured weekly on our website!

    </p>
</div>