.card {
    margin-top: 15px; 
    margin-left: 18px; 
    background: transparent;
    color: white;
    border: none;
    transition: ease-in-out .3s;
    }
    
    /* .navNumbers {
    margin-top: 20px;
    } */
    
    .card-title {
    font-size: 45px;
    color: white;
    /* position: relative; */
    display: flex;
    flex-shrink: 1;
    }
    
    .background {
    background-image: url("https://assets.simpleviewinc.com/simpleview/image/upload/c_limit,h_1200,q_75,w_1200/v1/clients/denver/012_3_0174_jpeg_607b6f51-1eae-41b8-a699-baf99a13ff7d.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    }
    
    .sidebar-right{
    color: white;
    flex-wrap: wrap;
    margin-top: 15%;
    margin-left: 200px;
    margin-right: 125px;
    text-align: center;
    padding: 40px 10px 20px 10px;  
    }
    
    .sidebar-background {
    background: rgba(68, 66, 66, 0.616);
    background-size: 20px 10px;
    }
    
    .card:hover {
    transform: translateX(20px);
    }
    
    .logo {
    width: 180px;
    height: 56px;
    margin-left: 25px;
    margin-top: 50px;
    margin-bottom: 20px;
    }

    .scroll {
        overflow: hidden;
        Overflow-y:scroll;
        height: 350px;
        width: 100%;
        margin-top: 20px;
    }

    .searchbar {
    position: absolute;
    right: 10px;
top: 60px;
    }

    #red {
        color: #ff1616;
    }

    #orange {

        color: #ff9350 ;
    
    }

    #yellow {

        color: #ffdf2b;
    }

    #green {

        color: #7ed957;
    }

    #blue{
        color: #8096ff;
    }

    .navBackground {
    background-color: white;
    }