.card {
margin-top: 5px; 
margin-left: 50px; 
background: transparent;
color: white;
border: none;
}

.navNumbers {
margin-top: 100px;
}

.card-title {
font-size: 60px;
color: white;
}

.background {
background-image: url("https://s.abcnews.com/images/US/denver-2-gty-er-211130_1638310959270_hpMain_16x9_1600.jpg") ;
background-repeat: no-repeat;
background-size: cover;
}

.sidebar-right{
color: white;
flex-wrap: wrap;
margin-top: 18%;
margin-left: 200px;
margin-right: 125px;
text-align: center;
}

.sidebar-background {
background: rgba(248, 244, 244, 0.452);
}